.row {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.card {
  height: 800px;
}
.card-summary {
  height: 200px;
  display: flex;
  align-items: center;
  font-size: 35px;
  padding: 20px;
}
.card-status {
  font-size: 25px;
  height: 100px;
  display: flex;
  align-items: center;
}
.card-number {
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 25px;
}
.card-team {
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 25px;
}
.card-assignee {
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 25px;
}
.field-name {
  font-weight: bold;
  width: 250px;
}
.card-date {
  color: #EE6666;  /*today*/
  /*color: #66DD66;  within a week */
  /*color: #BBBB66;*/
  letter-spacing: 2px;
  font-weight: bold;
  height: 100px;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}